name: Build and Publish Docker Image

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: 'gkcom416/nsfw_detector'
        required: true
        default: 'gkcom416/nsfw_detector'
      tag:
        description: 'Image tag'
        required: false
        default: 'latest'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ github.event.inputs.image_name }}:${{ github.event.inputs.tag }}
